APP_PORT=8083

DB_URL=postgres://postgres:postgres@localhost:5432/tripneo_bus?sslmode=disable

REDIS_HOST=
REDIS_PORT=

PAYMENT_SERVICE_GRPC_URL=

KAFKA_BROKERS=

PROVIDER_API_URL=
PROVIDER_API_KEY=your_key_here

JWT_SECRET=






     bus_DB= 
